body {
  overflow-x: hidden;
  font-family: "Roboto", "Raleway" sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  padding: 0px;
}
ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

p {
  margin: 0px;
  padding: 0px;
}

img {
  display: block;
}

.container {
  width: 100%;
  margin: 0 auto;
  align-items: center;
  margin: 0 auto;
}

.section {
  padding-bottom: 60px;
  padding-top: 60px;
}

/*===MOBILE==*/


@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;

    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
  }
}

/*==TABLET==*/
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/*==DESKTOP==*/
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }

  .section {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}
