.section-hero {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/img_section_hero.jpg);
  background-repeat: no-repeat;
  height: 600px;
  margin: auto;
  max-width: 1600px;

  &__title {
    font-family: $mainFont;
    font-weight: $ultraBold;
    font-size: 44px;
    line-height: 1.364;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $white;
    padding-top: 200px;
    padding-bottom: 30px;
    padding-left: auto;
    padding-right: auto;
    width: 696px;
    margin: auto;
  }

  &__module-btn {
    font-family: $mainFont;
    font-weight: $bold;
    font-size: 16px;
    line-height: 30px;
    display: block;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: $white;
    background: $mainBlue;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    padding: 10px 41px;
    margin: auto;
  }
}
