.lorem-ipsum-container {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.lorem-ipsum {
  display: flex;
  align-items: center;

  &__item:not(:last-child) {
    margin-right: 30px;
  }

  &__item {
    width: 270px;
  }

  &__container-icon {
    display: flex;
    width: 270px;
    height: 120px;
    background-color: $darkWhite;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    border-radius: 4px;
  }

  &__icon {
    width: 70px;
    height: 70px;
    align-items: center;
  }

  &__title {
    font-family: $mainFont;
    font-weight: $bold;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $darkGrey;
    padding-bottom: 10px;
  }

  &__text {
    font-family: $mainFont;
    font-weight: $normal;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: $secondaryColor;
  }
}
