.section-our-team {
  &--bgc {
    background-color: $darkWhite;
  }

  &__title {
    font-family: $mainFont;
    font-weight: $bold;
    font-size: 36px;
    line-height: 1.167;
    text-align: center;
    letter-spacing: 0.03em;
    color: $darkGrey;
    padding-bottom: 50px;
  }
}

.our-team {
  display: flex;
  align-items: center;
  width: 1170;

  &__photo {
    width: 270px;
    height: 260px;
  }

  &__item:not(:last-child) {
    margin-right: 30px;
  }

  &__item {
    background-color: $white;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }

  &__name {
    font-family: $mainFont;
    font-weight: $medium;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: $darkGrey;
    padding-top: 30px;
    padding-bottom: 10px;
  }

  &__role {
    font-family: $mainFont;
    font-weight: $normal;
    font-size: 16px;
    line-height: 1.188;
    text-align: center;
    letter-spacing: 0.03em;
    color: $secondaryColor;
  }

  &__social-media-container {
    width: 206px;
    margin: 16px 32px 30px;
  }

  &__social-media {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__social-media-item {
    border-radius: 50%;
  }

  &__social-media-link {
    display: flex;
    background-color: $white;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    fill: $lightGrey;
    width: 44px;
    height: 44px;
    transition-property: fill, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__social-media-link:hover,
  &__social-media-link:focus,
  &__social-media-icon:hover,
  &__social-media-icon:focus {
    fill: #ffffff;
    background-color: $mainBlue;
  }

  &__social-media-icon {
    display: flex;
    width: 20px;
    height: 20px;
    transition-property: fill, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
