.section-about-us__title {
  font-family: $mainFont;
  font-weight: $bold;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: $darkGrey;
  padding-bottom: 50px;
}

.about-us {
  display: flex;
  align-items: center;
  margin: 0 auto;

  &__item:not(:last-child) {
    margin-right: 30px;
  }

  &__item {
    position: relative;
    width: 370px;
  }

  &__subtitle {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    background-color: rgba(47, 48, 58, 0.8);
    padding-top: 27px;
    padding-bottom: 27px;
    margin: 0 auto;
    letter-spacing: 3%;
    font-family: $mainFont;
    font-size: 14px;
    width: 370px;
    color: $white;
    font-weight: $bold;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}
