.section-our-clients {
 width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin: 0 auto;
}
.section-our-clients__title {
  font-family: $mainFont;
  font-style: normal;
  font-weight: $bold;
  font-size: 28px;
  line-height: 1.179;
  text-align: center;
  letter-spacing: 0.03em;
  color: $darkGrey;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
.our-clients {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-width: 480px;
  margin-left: auto;
  margin-right: auto;

  &__item {
    display: flex;
    width: 210px;
    height: 92px;
    background-color: $white;
    border: 1px solid $lightGrey;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    fill: $lightGrey;
    transition-property: fill, border, cursor;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__icon {
    display: flex;
    width: 106px;
    height: 60px;
  }

  &__item:hover,
  &__item:focus {
    fill: #2196f3;
    border: 1px solid #2196f3;
    cursor: pointer;
  }
}



@media screen and (min-width: 320px) and (max-width: 478px){

  .our-clients {
    
    min-width: 320px;
    max-width:475px;

  
    &__item {
      display: flex;
      max-width: 159px;
      height: 92px;
     
  
    }

}
}
/*===TABLET===*/



@media screen and (min-width: 768px) and (max-width: 1199px) {
  .section-our-clients {
    min-width: 768px;
    align-items: center;

  }

  .our-clients {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 738px;

    &__item {
      display: flex;
      width: 226px;
      height: 92px;
    }

    &__item:not(:last-child) {
      margin-right: 15px;
    }
   
  }
}

/*====DESKTOP====*/

@media screen and (min-width: 1200px) {
  .section-our-clients {
    min-width: 1200px;
  }

  .section-our-clients__title {
    font-size: 36px;
    line-height: 1.167;
    margin-bottom: 48px;
  }
  .our-clients {
    display: flex;
    align-items: center;

    &__item {
  
      width: 170px;
      
    }

    &__item:not(:last-child) {
      margin-right: 30px;
    }

  }
}
