/*==color==*/
$primaryColor: #000000;
$secondaryColor: #757575;
$mainBlue: #2196f3;
$darkGrey: #212121;
$mediumGrey: #2f303a;
$lightGrey: #afb1b8;
$white: #ffffff;
$darkWhite: #f5f4fa;

/*==font-family==*/
$mainFont: Roboto, sans-serif;
$secondaryFont: Raleway, sans-serif;

/*==font-weight==*/
$normal: 400;
$medium: 500;
$semiBold: 600;
$bold: 700;
$extraBold: 800;
$ultraBold: 900;
